*{
	margin: 0;
	padding: 0;
}
h6{
	text-align: right;
	font-family: arial;
	margin:0.3rem 0.2rem; 
}
 .header{
	background-color: #0085c3;
	width: 100%;
	height: 4.5rem;

}
.header img{
	float: left;
	padding-top:0.6rem ;
	margin-left: 12rem;
}
.header ul{
	list-style: none;
}
.header ul li{
	width: 6rem;
	height: 4rem;
	text-align: center;
	float: left;
	line-height: 4rem;
	position: relative;
	background-color: #0085c3;
	color: white;
	font-weight: bolder;
	margin-left: 2rem;
	margin-top: 0.rem;
	font-family: arial; 
}
.header input{
	margin-top: 1rem;
	padding: 0.7rem 1rem;
	padding-right: 7rem;
	margin-left: 2rem;
	border:0.1rem solid #0085c3;
	border-radius: 0.2rem;
}
.header ul li:hover{
	color: silver;
	cursor: pointer;
	display: block;
	height: 4.5rem;
}
.header ul ul{
	display: none;
}	
.header ul li:hover > ul{
	display: block;

}
.header ul ul ul{
	margin-left: 4.2rem;
	position: absolute;
	margin-top: -2rem;
}
.header ul li select{
	 padding: 0 1rem;
	 background-color:#0085c3; 
	 border:none; 
	 color:white;
	 font-weight: bold;
	 font-size: 1rem;
}
.header ul li select:hover {
	color: silver;
}
.img img{
	width: 100%;
	height: 20rem;
}

footer{
	width: 100%;
	background-color:#0085c3 ;
	clear:both;
	color:white;
	height: 12rem;
	font-size: 0.9rem;

}
 footer .footer-col{
 	width: 20%;
 	float: left;
 	padding: 2rem 0;
 	margin-left: 4rem;
 }
footer .footer-col h1 {
	text-align: left;
	margin-left: -1rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;

}
.copyright-text{
 	width:100%;
 	background-color: silver;
 	padding: 0.5rem 0;
 	text-align: center;
 }
	
